{% extends "base.html" %}
{% block title %}Confirm Delete{% endblock %}
{% block content %}
<div class="container">
    <h1>Confirm Delete</h1>
    <p>Are you sure you want to delete the list "{{ todo_list.name }}"?</p>

    <form action="{{ url_for('main.confirm_delete_list', list_id=todo_list.id) }}"
          method="post" class="mt-3">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" class="btn delete-btn">Yes, delete</button>
        <a href="{{ url_for('main.todolists') }}" class="btn">Cancel</a>
    </form>
</div>
{% endblock %}
